* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121013;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    font-family: 'Trebuchet MS';
    color: white;
}
main {
    text-align: center;
    overflow-y: auto;
    border-radius: 10px;
    margin: auto;
    height: 90vh;
    min-width: auto;
    padding: 5px;
}

header {
    position: sticky;
    top: 12px;
    background-color: #121013;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    z-index: 10;
}
p {
    margin-bottom: 20px;
}
::-webkit-scrollbar {
    display: none;
}
h1, div.botoes {
    margin: 8px 0px 20px;
}
input {
    border-radius: 8px;
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.486);
}
input#nome {
    border: 1px solid #016D9E;
    padding: 20px;
    width: 200px;
    transition-duration: .4s;
}
input[type="button"] {
    border: 1px solid #785DC8;
    cursor: pointer;
    margin: 4px;
    padding: 5px 15px;
    transition-duration: .4s;
}
.botoes input {
    padding: 15px 25px;
}
input[type="button"]:hover {
    background-color: rgba(0, 0, 0, 0.315);
}
.checkbox {
    display: none;
    height: 100%;
    width: 100%;
}
.checkbox-label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.486);
    cursor: pointer;
    position: relative;
} /* Icone no checkbox */
.checkbox-label:hover {
    background-color: rgba(0, 0, 0, 0.315);
}
.checkbox:checked + .checkbox-label::after {
    content: '✅';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: green;
}

.novaTarefa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid #785DC8;
    min-width: 270px;
    width: 310px;
    padding: 10px 0px 10px 10px;
    border-radius: 6px;
    background-color: transparent;
    margin-bottom: 12px; 
}
.tarefasContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}